<header>
  <nav>
    <div>
      <!-- FIXME: retrieve this href from config.toml -->
      <a id="logo" href="https://wallysslima.me">Wallyss Lima's Blog</a>
      <div id="logo-links">
        <a href="/about">About</a>
        <a href="/resume">Resume</a>
      </div>
    </div>
    <ul id="social">
      <li><a href="https://"><img src="/rss.svg" alt="rss profile"></a></li>
      <li><a href="https://www.linkedin.com/in/wallysslima/" target="_blank"><img src="/linkedin.svg" alt="linkedin profile"></a></li>
      <li><a href="https://twitter.com/wallysslima" target="_blank"><img src="/twitter.svg" alt="twitter profile"></a></li>
      <li><a href="https://github.com/wallysslima" target="_blank"><img src="/github.svg" alt="github profile"></a></li>
    </ul>
  </nav>
</header>
